<footer>
  <div class="d-flex justify-content-between">
  	<div class="crew">
  		<div>coded by // arda çetinkaya
  			<a href="https://tr.linkedin.com/in/cetinkayarda" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png"/></a>
  			<a href="https://github.com/ctnkyrd" target="_blank"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"/></a>
  		</div>
  		<div>designed by // selahattin çamiçi
  			<a href="https://tr.linkedin.com/in/selahattincamici" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png"/></a>
  			<a href="https://github.com/sccore" target="_blank"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"/></a>
  		</div>
  	</div>
	<div><a href="https://cbs.csb.gov.tr/" target="_blank"><img src="https://www.csb.gov.tr/public/website/template2/img/logo.png"/></a></div>
  </div>

</body></footer>
</htm>