<% include partials/header %>

<style>
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Hay aksi!</h1>
                <h2>
                    404 Bulunamadı / Hatalı Link!</h2>
                <div class="error-details">
                    Üzgünüz, bir hata oluştu.
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-outline-dark btn-lg">
                        Anasayfaya dön</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>