<% include partials/header %>


<div class="container" id="welcome">
    <div class="jumbotron">
        <h1 class="display-4">TUCBS/INSPIRE XSD Şema Görüntüleyici</h1>
        <p class="lead">TUCBS ve INSPIRE tarafından yayınlanan xsd şema dokümanlarındaki objelerin web üzerinde görüntülenmesi ve obje ögelerinin listelenmesi amacıyla yapılmıştır.</p>
        <hr class="my-4">
        <p>Görüntülemek istediğiniz .xsd uzantılı web adresini aşağıdaki kutucuğa girerek <strong>Göster</strong>'e basınız.
        </p>
        <p class="lead">
        <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">TUCBS XSD</label>
  </div>
  <select class="custom-select" id="xsdSelect">
    <option selected disabled>Seçiniz...</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/ad_adrs/1.0/adres.xsd">ADRES | adres</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/ao_rast/1.0/araziOrtusuRaster.xsd">ARAZİ ÖRTÜSÜ | araziOrtusuRaster</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/ao_term/1.0/araziOrtusu.xsd">ARAZİ ÖRTÜSÜ | araziOrtusu</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/ao_vekt/1.0/araziOrtusuVektor.xsd">ARAZİ ÖRTÜSÜ | araziOrtusuVektor</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/bi_bina/1.0/bina.xsd">BİNA | bina</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/ca_coya/1.0/cografiYerAdlari.xsd">COĞRAFİ İSİMLER | cografiYerAdlari</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/cg_cogi/1.0/cografiGridler.xsd">COĞRAFİ GRİDLER | cografiGridler</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/gkm_ag/1.0/ag.xsd">GKM AĞ | ag</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/gkm_temel/1.0/temelTipler.xsd">GKM TEMEL | temelTipler</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/hi_ag/1.0/hidroAg.xsd">HİDROGRAFYA | hidroAg</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/hi_fisu/1.0/hidroFizikselSular.xsd">HİDROGRAFYA | hidroFizikselSular</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/hi_tmel/1.0/hidroTemel.xsd">HİDROGRAFYA | hidroTemel</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/id_dnzb/1.0/denizBolgesi.xsd">İDARİ BİRİM | denizBolgesi</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/id_idab/1.0/idariBirim.xsd">İDARİ BİRİM | idariBirim</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/id_kurb/1.0/kurumsalBirim.xsd">İDARİ BİRİM | kurumsalBirim</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/je_hidj/1.0/hidrojeoloji.xsd">JEOLOJİ | hidrojeoloji</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/je_jeof/1.0/jeofizik.xsd">JEOLOJİ | jeofizik</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/je_jeol/1.0/jeoloji.xsd">JEOLOJİ | jeoloji</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/kp_kads/1.0/kadastro.xsd">KADASTRO PARSELLERİ | kadastro</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/og_orgo/1.0/ortogoruntu.xsd">ORTOGÖRÜNTÜ | ortogoruntu</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/ul_demr/1.0/ulasimDemir.xsd">ULAŞIM | ulasimDemir</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/ul_denz/1.0/ulasimDeniz.xsd">ULAŞIM | ulasimDeniz</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/ul_hava/1.0/ulasimHava.xsd">ULAŞIM | ulasimHava</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/ul_kabl/1.0/ulasimKablolu.xsd">ULAŞIM | ulasimKablolu</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/ul_kara/1.0/ulasimKara.xsd">ULAŞIM | ulasimKara</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/ul_ortk/1.0/ulasimOrtak.xsd">ULAŞIM | ulasimOrtak/option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/yu_grid/1.0/yukseklikGrid.xsd">YÜKSEKLİK | yukseklikGrid</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/yu_tin/1.0/yukseklikTin.xsd">YÜKSEKLİK | yukseklikTin</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/yu_tmel/1.0/yukseklikTemel.xsd">YÜKSEKLİK | yukseklikTemel</option>
    <option value="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/yu_vekt/1.0/yukseklikVektor.xsd">YÜKSEKLİK | yukseklikVektor</option>

  </select>
</div>
      </select>
        </p>
        <p class="lead">
            <form action="/db" method="POST">
                <div class="form-group">
                    <label for="xsdURL">XSD Adresini Giriniz:</label>
                    <input type="url" required class="form-control" id="xsdURL" name="xsd[url]" placeholder="https://tucbs-public-api.csb.gov.tr/tucbs/tucbs_uygulama_semalari/bi_bina/1.0/bina.xsd">
                </div>
                <button type="submit" class="btn btn-outline-primary">Göster</button>
            </form>
        </p>
    </div>
</div>

    <script src="app.js"></script>

<% include partials/footer %>